.red1 {
    color: #6b0400 !important;
    background-color: #FF4F02;
}

.red2 {
    color: #ad0600 !important;
    background-color: #FF6928;
}

.red3 {
    color: #b30600 !important;
    background-color: #FF9872;
}

.pink1 {
    color: #580020 !important;
    background-color: #FF0461;
}

.pink2 {
    color: #970037 !important;
    background-color: #FF69A3;
}

.pink3 {
    color: #ff1f71 !important;
    background-color: #FFABCE;
}

.purple1 {
    color: #1a0057 !important;
    background-color: #6927FF;
}

.purple2 {
    color: #3300aa !important;
    background-color: #A16EFF;
}

.purple3 {
    color: #3300aa !important;
    background-color: #D0B0FF;
}

.blue1 {
    color: #003283 !important;
    background-color: #136FFF;
}

.blue2 {
    color: #136FFF !important;
    background-color: #5D99FF;
}

.blue3 {
    color: #5D99FF !important;
    background-color: #A4C6FF;
}

.skyBlue1 {
    color: #5D99FF !important;
    background-color: #13EEFF;
}

.skyBlue2 {
    color: #5D99FF !important;
    background-color: #60EEFF;
}

.skyBlue3 {
    color: #5D99FF !important;
    background-color: #A7F1FF;
}


.green1 {
    color: #008d1c !important;
    background-color: #2DFF57;
}

.green2 {
    color: #008d1c !important;
    background-color: #78FF94;
}

.green3 {
    color: #008d1c !important;
    background-color: #CBFFD3;
}

.orange1 {
    color: #a32603 !important;
    background-color: #e6613d !important;
}

.orange2 {
    color: #a32603 !important;
    background-color: #ff8668;
}

.orange3 {
    color: #a32603 !important;
    background-color: #ffc7b9;
}


.yellow1 {
    color: #947901 !important;
    background-color: #ffd000;
}

.yellow2 {
    color: #947901 !important;
    background-color: #ffe989;
}

.yellow3 {
    color: #947901 !important;
    background-color: #fff5c6;
}
