.red1 {
    color: #6b0400 !important;
    background-color: #cc332d;
}

.orange1 {
    color: #641600 !important;
    background-color: #e6613d !important;
}

.orange2 {
    color: #e34c26 !important;
    background-color: #f15c37;
}

.blue1 {
    color: #2843b9 !important;
    background-color: #afbeff;
}

.yellow1 {
    color: #947901 !important;
    background-color: #ffe05d;
}
