$GRAY01: rgb(143, 143, 143);

$BORDER_GRAY01: rgb(231, 231, 231);
$BUTTON_BORDER_GRAY01: rgb(167, 167, 167);

$BLUE: #7bb0fd;
$BORDER_FOCUS_BLUE: #b5d2ff;

$INPUT_GRAY_COlOR: rgb(85, 85, 85);

.MaxWidth640 {
  max-width: 640px;
  margin: 0 auto;
}

.BlueAnimButton {
  background-color: #5699ff;
  border-radius: 3px;
  padding: 5px 10px;
  transition: 0.3s;
  &:hover {
    background-color: #88b7ff;
  }
}

.BlueAnimText {
  transition: 0.3s;
  &:hover {
    color: $BLUE !important;
  }
}

.DropdownOpenBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.DropdownList {
  position: absolute;
  top: 40px;
  right: 0;
  text-align: left;
  width: 200px;
  border: 1px solid rgb(235, 235, 235);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  z-index: 9999;
  li {
    padding: 10px;
    color: $GRAY01;
    align-items: center;
    margin: 0;
    display: flex;
    transition-duration:0.4s;
    background: white;
    cursor: pointer;
    z-index: 9999;
    &:not(:last-child) {
      border-bottom: 1px solid $BORDER_GRAY01;
    }

    a {
      width: 100%;
      padding-left: 5px;
      display: block;
      z-index: 9999;
    }
  }

  .memo-edit-link{
    transition-duration:0.4s;
    z-index: 9999;
    i {
      transition-duration:0.1s;
    }
    a{
      color: $GRAY01;
      transition-duration:0.3s;
    }
    &:hover{
      background: #abcdff;
      color: white !important;

      i {
        color: white !important;
      }

      a{
        color: white !important;
      }
    }
  }

  .memo-delete-link{
    z-index: 9999;
    i {
      transition-duration:0.4s;
    }
    &:hover{
      background: #ffabab;
      color: white;

      i {
        color: white !important;
      }
    }
  }
}

.two-columns-main {
  display: flex;
  margin: 50px auto 0 auto;
  padding: 0 50px;
  justify-content: center;

  @include mq(lg) {
    display: block;
  }

  @include mq(md) {
    padding: 0px 20px;
  }
}
